body {
    margin: 0;
    font-family: Segoe UI, Helvetica, sans-serif;
    font-size: 14px;
    cursor: default;
    user-select: none;
    text-align: center;
    background: linear-gradient( to bottom, #fff, #f5f5f5 150px, #fff );
}

button {
    outline: none;
}

.container {
    display: flex;
    flex-direction: column;
}
.header {
    padding: 8px 16px 8px;
    font-size: 1.05rem;
    font-weight: normal;
    white-space: nowrap;
}
.header__text_red {
    color: #d00000;
}
.header__text_green {
    color: #00b000;
}
.titles {
    display: flex;
    background: #f5f5f5;
}
.title {
    flex: 1;
    padding: 8px;
    font-weight: 500;
    color: #333;
}
.buildings {
    display: flex;
}
.building {
    flex: 1;
    margin: 0;
    padding: 8px 0;
}
.floors {
    background: hsl(120, 67%, 95%);
}
.floor {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 4px;

    background: none;
    color: #444;
    border: none;
    border-radius: 4px;
    font: inherit;
    cursor: pointer;
}
.floor:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: hsla(0, 0%, 0%, 0 );
    border-radius: inherit;
}
.floor:hover:after {
    background: hsla(128, 100%, 31%, 0.05);
}
.floor_active {
    color: #000;
    background: hsla(128, 100%, 31%, 0.05);
}
.floor_active:after {
    box-shadow: 0 0 0 2px hsla(128, 100%, 31%, 0.25) inset;
    z-index: 11;
}
.floor_occupied {
    background: hsl(350, 100%, 90%);
    color: darkred;
}
.floor_occupied.floor_active {
    color: #a50000;
}
.floor_occupied.floor_active:after {
    box-shadow: 0 0 0 2px hsla(350, 100%, 31%, 0.25) inset;
}
